<div class="row">
	<a href="{{ path('accueil') }}">
		<img src="../images/logo.jpg" alt="logo aidasinistre" class="logo"/>
	</a>
</div>

<nav class="menu">
	<div class="row">
		<ul class="main-nav">
			<li><a href="{{ path('particulier_create')}}">particuliers</a></li>
			<li><a href="professionnels">professionnels</a></li>
				<li><a href="entreprises">entreprises</a></li>
				<li><a href="exploitant">exploitants agricoles</a></li>
				<li><a href="collectivite">collectivités territoriales</a></li>
		</ul>
	</div>
</nav>