{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section>
        <div class="cont-text">
            <h1>
                Bienvenue chez AIDASINISTRE.<br>
                Voila comment nous allons faire face ensemble.
            </h1>
        </div>
    
        <div class="row">
            <div class="col span_1_of_4">
                <p class="text-accueil">
                    Grâce à ce site web et plus tard à notre application mobile, nous offrons aux personnes victimes d’un sinistre de les aider à surmonter ces moments difficiles <br/>en les mettant en relation avec des associations d'aide aux victimes, et/ou des sociétés d'assistance et/ou des prestataires de services.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
