{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

     <div class="jumbotron">
        <h1>
            Bienvenue chez AIDASINISTRE
            Voila comment nous allons faire face ensemble
        </h1>
        <p>
            Grâce à ce site web et plus tard à notre application mobile, nous offrons aux personnes victimes d’un sinistre de les aider à surmonter ces moments difficiles en les mettant en relation avec des associations d'aide aux victimes, des sociétés d'assistance, des prestataires de services.
        </p>
    </div>
    <!--<section>
        <div class="cont-text">
            <h1>
                Bienvenue chez AIDASINISTRE.<br>
                Voila comment nous allons faire face ensemble.
            </h1>
        </div>
    
        <div class="row">
            <div class="col span_1_of_4">
                <p class="text-accueil">
                    Grâce à ce site web et plus tard à notre application mobile, nous offrons aux personnes victimes d’un sinistre de les aider à surmonter ces moments difficiles <br/>en les mettant en relation avec des associations d'aide aux victimes, des sociétés d'assistance, des prestataires de services.
                </p>
            </div>
        </div>
    </section>-->
{% endblock %}
