{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

     <!--<div class="jumbotron">
        <h1>
            Bienvenue chez AIDASINISTRE
            Voila comment nous allons faire face ensemble
        </h1>
        <p>
            Grâce à ce site web et plus tard à notre application mobile, nous offrons aux personnes victimes d’un sinistre de les aider à surmonter ces moments difficiles en les mettant en relation avec des associations d'aide aux victimes, des sociétés d'assistance, des prestataires de services.
        </p>
    </div>-->
    <!--<section>
        <div class="cont-text">
            <h1>
                Bienvenue chez AIDASINISTRE.<br>
                Voila comment nous allons faire face ensemble.
            </h1>
        </div>
    
        <div class="row">
            <div class="col span_1_of_4">
                <p class="text-accueil">
                    Grâce à ce site web et plus tard à notre application mobile, nous offrons aux personnes victimes d’un sinistre de les aider à surmonter ces moments difficiles <br/>en les mettant en relation avec des associations d'aide aux victimes, des sociétés d'assistance, des prestataires de services.
                </p>
            </div>
        </div>
    </section>-->
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-3">Bienvenue chez AIDASINISTRE</h1>
            <p class="lead">Voila comment nous allons faire face ensemble</p>
            <hr class="my-4">
            <p>Grâce à ce site web et plus tard à notre application mobile, nous offrons aux personnes victimes d’un sinistre de les aider à surmonter ces moments difficiles en les mettant en relation avec des associations d'aide aux victimes, des sociétés d'assistance, des prestataires de services.</p>
            {# <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p> #}
        </div>
    </div>

    <div class="container">
        <h2 class="h1 text-center mt-5 mb-4" >Un titre</h2>
        <div class="row">
            <div class="col">
                <div class="card-text">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi dicta error praesentium deleniti dignissimos accusamus at ipsa nesciunt minus ex! Reiciendis assumenda fuga voluptatum aperiam et temporibus molestiae incidunt tenetur.</p>
                </div>
            </div>
        </div>
    </div>
    
    

{% endblock %}
